#--extra-index-url https://download.pytorch.org/whl/cu124
#torch>=2.2.0
#torchvision>=0.15.2 
#torchaudio>=2.0.2
diffusers==0.27.2
accelerate>=0.28.0
tensorflow==2.18.0
tensorboard==2.18.0
opencv-python==4.9.0.80
soundfile==0.12.1
transformers>=4.39.2

gdown
requests
imageio[ffmpeg]

omegaconf
ffmpeg-python
gradio
spaces
moviepy==1.0.3
huggingface-hub==0.25.2
